---
layout: archive
author_profile: true
permalink: /categories/dsp17
category_name: dsp17
title: DSP17
---
{% include group-by-array collection=site.posts field="categories" %}
{% for category in group_names %}
    {% if category == "dsp17" %}
        {% assign posts = group_items[forloop.index0] %}
        {% for post in posts %}
            {% include archive-single.html %}
        {% endfor %}

{% capture feed_file %}/feed.{{ page.category_name }}.xml{%endcapture%}
<p class="page__footer-copyright">subscribe <a href="{{ feed_file | relative_url }}">via RSS</a></p>

    {% endif %}
{% endfor %}

Blogs of other participants:
<ul>
    <li><a href="http://www.noob-programmer.com/">www.noob-programmer.com</a></li>
    <li><a href="https://aqatl.github.io/">aqatl.github.io</a></li>
    <li><a href="https://cigh.github.io">cigh.github.io</a></li>
    <li><a href="http://emi.gd/blog">emi.gd</a></li>
    <li><a href="http://www.xenoxdev.pl">xenoxdev.pl</a></li>
</ul>
